<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">I'm Nitin Ranjan</a>
    </div>
    <ul class="nav nav-bar-nav">
      <li><a routerLink="/home">About</a></li>
      <li><a routerLink="/resume">CV, Pojects &amp; Hobbies <i class="fas fa-file" aria-label="image for resume"></i></a></li>
      <li><a routerLink="">Links to Blogs</a></li>
      <li><a routerLink="">Send message</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<div class="footer">
  &copy; Nitin Ranjan, 2022, December
  <br>

</div>

