<div class="container">
  <div class="row">
    <div class="col-lg-3" id="personalPic"></div>

    <div class="col-lg-6" id="header">
    <section>

      <br>
    <p>
      <b><i>Hello Everyone,</i></b>
      <p>
        My name is Nitin Ranjan and I am a Techonology Analyst at Fiserv Global Services, Pune, India.
      <br>
        This website indexes all necessary links to connect with me, with the obvious exception of personal social media handles.<br>
        Enjoy your time here.
    <br>
    <br>
    <i>Well, again...</i><br>
    こんにちは
    <br>
    &amp; It's always a nice day to connect.
  </section>

    </div>
    <div class="col-lg-3" id="professPic"></div>
  </div>
</div>

