<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>About Me</h4>
      <p style="text-align: right;"><em>Computer Science, Philosophy, History & Mythology</em></p>
      <hr>
      <h5>What do you want to check?</h5>
      <ul style="text-align: center;">

      </ul>
    </div>
    <div class="col-sm-9">
        <strong>Note: </strong> I have tried my best to keep pages as accessible as possible to people who are specially abled or suffer from any type of non-legal problems like colour blindness etc.
          <br><br><br>


    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

